In [32]:
import pandas as pd

data = pd.DataFrame(
    [(1, 2, 3, 4),
    (0, 3, 0, 8),
    (2, 0, 5, 0)], columns=['dogs', 'cats', 'bears', 'duck']
)
data

   dogs  cats  bears  duck
0     1     2      3     4
1     0     3      0     8
2     2     0      5     0

In [33]:
data.cov() #Tính sự tương quan của các thuộc tính

       dogs      cats      bears  duck
dogs    1.0 -1.500000   2.500000  -4.0
cats   -1.5  2.333333  -3.666667   6.0
bears   2.5 -3.666667   6.333333 -10.0
duck   -4.0  6.000000 -10.000000  16.0